.nav {
	background-color: #F26051;
}

.nav a {
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
}

.nav a:hover {
	color: #FFBB7E;	
}
.nav li {
	display: inline;
}

.body {
	margin: auto;
    width: auto;
    height: 600px;
	background-color: #FAf5D5;
}

.intro .container {
	height: 500px;
	background-color: #A2BDA8;
	padding-top: 50px;
	padding-left: 50px;
}

.intro img {
	max-width: 500px;
	max-height: 500px;
}

.intro h1 {
	font-weight: bold;
}

.writing .container {
	height: 500px;
	background-color: #A2BDA8;
	padding-top: 50px;
	padding-left: 50px;
}

.writing h1 {
	font-weight: bold;
}

.writing h3 {
	font-weight: bold;

}

.writing .row {
	margin-top: 40px;
}

.writing a {
    color: #357298;
}